@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.title {
    align-items: center;
    justify-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    color: black;
    list-style: none;
    margin-bottom: 20px;
}

.white {
    color: white;
}

.black {
    color: black;
}

.yellow {
    color: #fed766;
}

.purple {
    color: #AE8CA3;
}

.bibi-img {
        max-width: 50vw;
    }

.hero {
    display: grid;
    width: 95%;
    background-color: #AE8CA3;
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    justify-items: center;
    align-items: center;
}

.hero-text {
    overflow: auto;
    padding: 20px;
}

.hero-img {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 50vw;
    
}

.home-hero-img {
    max-width: 50vw;
    margin: 15px;
}

.wrapper {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.rec1, .rec2, .rec3 {
    display: grid;
    background-color: #AE8CA3;
    align-content: center;
    padding: 15px;
    justify-content: center;
    align-content: center;
    color: white;
}

.img1, .img2, .img3 {
    max-width: 95%;
}

h1 {
    color: #F58549;
    font-size: 5em;
    padding: 5px;
    margin: 0px;
}


h5 {
    color: white;
}

.title {
    margin: 10px;
    padding: 0px;
    width: 100%;
}

p {
    color: white;
}

table {
    display: table;
    border-collapse: collapse;
    color: black;
}

.ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.steps {
    padding: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fed766;
}

.rec-link {
    text-decoration: underline;
}

h4, h6 {
    margin: 5px;
}

.hero-background {
    background-color: #AE8CA3;
    height: 50vh;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    grid-template-rows: 1fr;
    padding: 15px;
    justify-items: center;
    align-items: center;
}

.home-hero-img {
    max-height: 90%;
}

.hero-img {
    max-width: 50vh;
}

.hero-text {
    overflow: auto;
}

.black {
    color: black;
}

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.rec2-body {
    display: grid;
    justify-items: center;
}

.credit {
    background-color: #AE8CA3;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
}

@media (max-width: 850px) {
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.hero-background {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.bibi-img {
        max-width: 100%;
    }
 
.ingredients {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
}

.rec2-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    }
    
.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: 100vh;
    justify-items: center;
    align-items: center;
}
    
.hero-img {
    display: grid;
    padding: 15px;
    max-width: 95%;
}
}